<!DOCTYPE html>
<html>
  <head>
    <title>CollegeDays</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container">
      <div class="header-left">

      </div>
    </div>
  </header>
    <%= yield %>
  <footer>

    <div class="container">

      <p>Learn to Code,Learn to be Creative.</p>
    </div>
  </footer>
  </body>
</html>
